body{
    margin: 0px;
    background-image: url(Images/wp2534478-letter-f-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.fs-4{
    color: white;
}
:root, [data-bs-theme=light] {
    --bs-link-hover-color: white;
}
a:link{
    color: gray;
}
a:visited{
    color: rgb(149, 149, 149);
}
a:hover{
    color: green;
}
a:active{
    color: rgb(222, 222, 222);
}
p{
    color: rgb(252, 251, 251);
}
h1{
    text-align: center;
}
h2{
    color: hsl(0, 1%, 66%);
    text-decoration: solid;
    font-size: 30px;
    text-align: center;
}
h3{
    color: hsl(0, 1%, 66%);
}
.active{
    color: black !important;
    background-color: white!important;
}
.maininfo{
    text-align: center;
}
footer{
    color: red;
}
@media screen and (max-width:600px) {
    aside, section, article{
       width: 100%; 
    }
}